<main class="wrapper wrapper--sm account account--login">
  <section class="wrapper account__inner" id="reset-password-form-container">
    <div class="account__form-header">
      <h1 class="main-heading main-heading--account-form">
        {{ 'customer.recover_password.title' | t | remove: 'your' }}
      </h1>
    </div>
    {%- form 'recover_customer_password', class: 'account__form' -%}
      <div class="account__form-inner">
        <p class="main-body main-body--account-form">
          {{ 'customer.recover_password.subtext' | t }}
        </p>
        {% assign recover_success = form.posted_successfully? %}
        <div class="account__field-group">
          <input
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
            class="account__input-field"
          >
          <label class="visually-hidden" for="RecoverEmail">
            {{ 'customer.login_page.email' | t }}
          </label>
        </div>
        {%- if form.errors -%}
          <small class="main-heading--form-sub">
            {{ form.errors.messages.form }}
          </small>
        {%- endif -%}

        <div class="account__form-inner">
          <button class="all-caps btn btn--secondary btn--account">
            <span> Reset Password </span>
          </button>

          <button type="button" class="account__btn-link" id="cancel-reset-password">
            {{ 'customer.login_page.cancel' | t }}
          </button>
        </div>
      </div>
    {%- endform -%}
  </section>
  <section class="wrapper account__inner" id="login-form-container">
    <div class="account__form-header">
      <h1 class="main-heading main-heading--account-form" tabindex="-1">
        {{ 'customer.login_page.title' | t }}
      </h1>
    </div>
    <div class="account__form-inner">
      {%- if recover_success == true -%}
        <h3 class="main-heading--form-sub" tabindex="-1" autofocus>
          {{ 'customer.recover_password.success' | t }}
        </h3>
      {%- endif -%}
      {%- form 'customer_login', novalidate: 'novalidate', class: 'account__form' -%}
        {%- if form.errors -%}
          <div class="account__form-inner account__form-inner--error">
            <h2 class="main-heading main-heading--form-sub" tabindex="-1" autofocus>Please correct the following:</h2>
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        <div class="account__form-inner">
          <div class="account__field-group">
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
              class="main-body account__input-field"
            >
            <label for="CustomerEmail" class="visually-hidden">
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>

          {%- if form.password_needed -%}
            <div class="account__field-group">
              <input
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="current-password"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}"
                class="main-body account__input-field"
              >
              <label for="CustomerPassword" class="visually-hidden">
                {{ 'customer.login_page.password' | t }}
              </label>
            </div>
            <button type="button" class="account__btn-link" id="reset-password-trigger">
              <span> {{ 'customer.login_page.forgot_password' | t }} </span>
            </button>
          {%- endif -%}
        </div>
        <div class="account__form-inner">
          <button class="all-caps btn btn--secondary btn--account">
            {{ 'customer.login_page.sign_in' | t }}
          </button>

          <a href="{{ routes.account_register_url }}"> Create an account </a>
        </div>
      {%- endform -%}
    </div>
  </section>

  {%- if shop.checkout.guest_login -%}
    <section class="wrapper account__inner account__form-inner--guest">
      {%- form 'guest_login', class: 'account__form' -%}
        <button class="account__btn-link">Shop as a guest</button>
      {%- endform -%}
    </section>
  {%- endif -%}
</main>
