<div class="drawer drawer--cart" id="drawer-cart">
  <div class="drawer__header">
    <h2 class="drawer__top-level-heading">Bag</h2>
    <button class="all-caps drawer__header-action" id="cart-close">Close</button>
  </div>
  {% if cart.item_count == 0 %}
    <div class="drawer__container drawer__container--cart">
      <div class="drawer-cart__empty">
        <h3 class="drawer-cart__empty-message">Your bag is empty.</h3>
        <a href="/collections/all" class="btn btn--secondary all-caps drawer-cart__empty-continue">Continue Shopping</a>
      </div>
    </div>
  {% else %}
    {% form 'cart', cart %}
      <div class="drawer__container drawer__container--cart">
        <div class="drawer-cart__items">
          {% for item in cart.items %}
            <div class="drawer-cart__item" data-line-item-key="{{ item.key }}">
              <div class="item__img">
                {% assign product = all_products[item.product.handle] %}
                {% if product.images.size > 1 %}
                  <img
                    src="{{ product.images[1] | image_url: width: 56 }}"
                    alt="{{ item.title }}"
                    width="56"
                    height="128"
                    loading="eager"
                  >
                {% else %}

                {% endif %}
              </div>
              <div class="item__info">
                <h2 class="all-caps item__brand">{{ item.product.vendor }}</h2>
                <a
                  href="{{ item.url }}"
                >
                  <p class="item__product">
                    <span class="product__title">{{ item.product.title }}</span>
                    {% if item.variant.title != 'Default Title'
                      and item.variant.compare_at_price > item.variant.price
                    %}
                      <span class="item__variant-price">
                        {{- item.variant.title }} /
                        <del>{{ item.variant.compare_at_price | money_without_trailing_zeros }}</del>
                        <ins>{{ item.variant.price | money_with_currency | remove: '.00' }}</ins>
                        {% assign discount = item.variant.compare_at_price | minus: item.variant.price %}
                        {% assign discount_percentage = discount
                          | times: 100.0
                          | divided_by: item.variant.compare_at_price
                        %}
                        {% assign discount_percentage = discount_percentage | round %}
                        /
                        {{ discount_percentage -}}
                        % Off
                      </span>
                    {% elsif item.variant.compare_at_price > item.variant.price %}
                      <span class="item__variant-price">
                        <del>{{ item.variant.compare_at_price | money_without_trailing_zeros }}</del>
                        <ins>{{ item.variant.price | money_with_currency | remove: '.00' }}</ins>
                        {% assign discount = item.variant.compare_at_price | minus: item.variant.price %}
                        {% assign discount_percentage = discount
                          | times: 100.0
                          | divided_by: item.variant.compare_at_price
                        %}
                        {% assign discount_percentage = discount_percentage | round %}
                        /
                        {{ discount_percentage -}}
                        % Off
                      </span>
                    {% elsif item.variant.title != 'Default Title' %}
                      <span class="item__variant-price">
                        {{- item.variant.title }} / {{ item.variant.price | money_with_currency | remove: '.00' -}}
                      </span>
                    {% else %}
                      <span class="item__variant-price">
                        {{ item.variant.price | money_with_currency | remove: '.00' -}}
                      </span>
                    {% endif %}
                  </p>
                </a>

                {% comment %} <button class="item__remove">Remove Item</button> {% endcomment %}
                <a href="{{ item.url_to_remove }}" class="item__remove" data-variant-id="{{ item.variant.id }}"
                  >Remove Item</a
                >
              </div>
              <div class="item__quantity">
                <!-- Quantity input field -->
                <div class="cart__quantity">
                  <button type="button" class="quantity__decrement">-</button>
                  <input class="cart__quantity-input" type="number" min="1" name="quantity" value="{{ item.quantity }}">
                  <button type="button" class="quantity__increment">+</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="drawer-cart__footer">
          <div class="drawer-cart__subtotal">
            <div class="all-caps subtotal__top">
              <p class="subtotal__titlee">Subtotal</p>
              <p class="subtotal__total">{{ cart.total_price | money_with_currency }}</p>
            </div>
            <p class="subtotal__payment-plan">
              or 4 interest-free payments of {% assign divided_price = cart.total_price | divided_by: 4 %}
              {{ divided_price | money }} with <span class="is--emphasized">Sezzle</span>
            </p>
            <p class="subtotal__shipping">Shipping Calculated at Checkout</p>
          </div>
          <button class="all-caps btn btn--secondary drawer-cart__submit" type="submit" name="checkout">
            Checkout
          </button>
        </div>
      </div>
    {% endform %}
  {% endif %}
</div>
