<main class="cart-page" data-money-format="{{ shop.money_format }}">
  <div class="drawer__header drawer__header--cart-page">
    <div class="wrapper wrapper--sm">
      <h1 class="drawer__top-level-heading">Bag</h1>
    </div>
  </div>
  {% if cart.item_count == 0 %}
    <div class="drawer__container drawer__container--cart drawer__container--cart-page">
      <div class="wrapper wrapper--sm drawer-cart__empty drawer-cart__empty--cart-page">
        <h3 class="drawer-cart__empty-message">Your bag is empty.</h3>
        <a href="/collections/all" class="btn btn--secondary all-caps drawer-cart__empty-continue">Continue Shopping</a>
      </div>
    </div>
  {% else %}
    {% form 'cart'
      , cart %}
      <div class="drawer__container drawer__container--cart drawer__container--cart-page">
        <div class="wrapper wrapper--sm drawer-cart__items drawer-cart__items--cart-page">
          {% for item in cart.items %}
            <div class="drawer-cart__item drawer-cart__item--cart-page" data-key="{{ item.key }}">
              <div class="cart-item__inner">
                <div class="item__img item__img--cart-page">
                  {% assign variant_value = item.variant.option1 | downcase %}

                  {% if variant_value contains '$' %}
                    {% assign variant_value = variant_value | remove_first: '$' | strip %}
                  {% endif %}

                  {% assign variant_value = variant_value | replace: '/', '-' %}

                  {% assign variant_value = variant_value | replace: 'á', 'a' | replace: 'à', 'a' | replace: 'â', 'a' | replace: 'ã', 'a' | replace: 'ä', 'a' | replace: 'å', 'a' | replace: 'ā', 'a' | replace: 'ă', 'a' | replace: 'ȧ', 'a' | replace: 'ạ', 'a' | replace: 'ą', 'a' | replace: 'ả', 'a' | replace: 'ȃ', 'a' %}

                  {% assign variant_value = variant_value | replace: 'é', 'e' | replace: 'è', 'e' | replace: 'ê', 'e' | replace: 'ë', 'e' | replace: 'ē', 'e' | replace: 'ĕ', 'e' | replace: 'ė', 'e' | replace: 'ẹ', 'e' | replace: 'ę', 'e' | replace: 'ẻ', 'e' | replace: 'ȅ', 'e' | replace: 'ȇ', 'e' | replace: 'ě', 'e' %}

                  {% assign variant_value = variant_value | replace: 'í', 'i' | replace: 'ì', 'i' | replace: 'î', 'i' | replace: 'ï', 'i' | replace: 'ī', 'i' | replace: 'ĭ', 'i' | replace: 'ị', 'i' | replace: 'ỉ', 'i' | replace: 'į', 'i' | replace: 'ȉ', 'i' | replace: 'ȋ', 'i' %}

                  {% assign variant_value = variant_value | replace: 'ó', 'o' | replace: 'ò', 'o' | replace: 'ô', 'o' | replace: 'õ', 'o' | replace: 'ö', 'o' | replace: 'ō', 'o' | replace: 'ŏ', 'o' | replace: 'ȯ', 'o' | replace: 'ọ', 'o' | replace: 'ỏ', 'o' | replace: 'ơ', 'o' | replace: 'ø', 'o' | replace: 'ő', 'o' | replace: 'ǒ', 'o' | replace: 'ȍ', 'o' | replace: 'ȏ', 'o' %}

                  {% assign variant_value = variant_value | replace: 'ú', 'u' | replace: 'ù', 'u' | replace: 'û', 'u' | replace: 'ü', 'u' | replace: 'ū', 'u' | replace: 'ŭ', 'u' | replace: 'ů', 'u' | replace: 'ű', 'u' | replace: 'ụ', 'u' | replace: 'ų', 'u' | replace: 'ủ', 'u' | replace: 'ư', 'u' | replace: 'ȕ', 'u' | replace: 'ȗ', 'u' %}

                  {% assign variant_value = variant_value | replace: 'ý', 'y' | replace: 'ÿ', 'y' | replace: 'ȳ', 'y' | replace: 'ỳ', 'y' | replace: 'ỷ', 'y' | replace: 'ỵ', 'y' | replace: 'ỹ', 'y' | replace: 'ŷ', 'y' %}

                  {% assign variant_value = variant_value | replace: 'ç', 'c' | replace: 'ć', 'c' | replace: 'ĉ', 'c' | replace: 'ċ', 'c' | replace: 'č', 'c' %}

                  {% assign variant_value = variant_value | replace: 'ď', 'd' | replace: 'ḍ', 'd' | replace: 'đ', 'd' | replace: 'ȡ', 'd' %}

                  {% assign variant_value = variant_value | replace: 'ĝ', 'g' | replace: 'ğ', 'g' | replace: 'ġ', 'g' | replace: 'ǧ', 'g' %}

                  {% assign variant_value = variant_value | replace: 'ĥ', 'h' | replace: 'ȟ', 'h' | replace: 'ḥ', 'h' | replace: 'ħ', 'h' | replace: 'ɦ', 'h' %}

                  {% assign variant_value = variant_value | replace: 'ĵ', 'j' | replace: 'ǰ', 'j' %}

                  {% assign variant_value = variant_value | replace: 'ķ', 'k' | replace: 'ḳ', 'k' | replace: 'ǩ', 'k' %}

                  {% assign variant_value = variant_value | replace: 'ĺ', 'l' | replace: 'ľ', 'l' | replace: 'ļ', 'l' | replace: 'ḷ', 'l' | replace: 'ł', 'l' %}

                  {% assign variant_value = variant_value | replace: 'ṁ', 'm' %}

                  {% assign variant_value = variant_value | replace: 'ń', 'n' | replace: 'ņ', 'n' | replace: 'ň', 'n' | replace: 'ṅ', 'n' | replace: 'ṇ', 'n' %}

                  {% assign variant_value = variant_value | replace: 'ŕ', 'r' | replace: 'ř', 'r' | replace: 'ŗ', 'r' | replace: 'ṛ', 'r' %}

                  {% assign variant_value = variant_value | replace: 'ś', 's' | replace: 'š', 's' | replace: 'ş', 's' | replace: 'ṣ', 's' | replace: 'ș', 's' %}

                  {% assign variant_value = variant_value | replace: 'ť', 't' | replace: 'ţ', 't' | replace: 'ṭ', 't' | replace: 'ț', 't' | replace: 'ŧ', 't' | replace: 'ȶ', 't' %}

                  {% assign variant_value = variant_value | replace: 'ŵ', 'w' | replace: 'ẁ', 'w' | replace: 'ẃ', 'w' | replace: 'ẅ', 'w' | replace: 'ẇ', 'w' | replace: 'ẉ', 'w' %}

                  {% assign variant_value = variant_value | replace: 'ź', 'z' | replace: 'ż', 'z' | replace: 'ž', 'z' | replace: 'ẓ', 'z' %}

                  {% assign normalized_variant_value = variant_value | replace: "'", "-" | replace: "'", "-" | replace: " ", "-" | replace: ".", "-" | replace: "/", "-" | replace: "--", "-" | replace: "--", "-" | downcase %}

                  {% assign matching_image = null %}

                  {% for media in item.product.media %}
                    {% if media.src contains 'product-page' and media.src contains normalized_variant_value %}
                      {% assign matching_image = media %}
                      {% break %}
                    {% endif %}
                  {% endfor %}

                  {% if matching_image != null %}
                    <img
                      src="{{ matching_image | image_url: width: 893 }}"
                      alt="{{ matching_image.alt | escape }}"
                      width="893"
                      height="auto"
                      loading="eager">
                  {% endif %}
                </div>
                <div class="item__info item__info--cart-page">
                  <h2 class="all-caps item__brand">{{ item.product.vendor }}</h2>
                  <a href="{{ item.url }}" class="item__info--cart-page">
                    <p class="item__product">
                      <span class="product__title">{{ item.product.title }}</span>
                      {% if item.variant.title != 'Default Title' and item.variant.compare_at_price > item.variant.price
                      %}
                        <span class="item__variant-price">
                          {{- item.variant.title }} /
                          <del>{{ item.variant.compare_at_price | money_without_trailing_zeros }}</del>
                          <ins>{{ item.variant.price | money_with_currency | remove: '.00' }}</ins>
                          {% assign discount = item.variant.compare_at_price | minus: item.variant.price %}
                          {% assign discount_percentage = discount | times: 100.0 | divided_by: item.variant.compare_at_price
                          %}
                          {% assign discount_percentage = discount_percentage | round %}
                          /
                          {{ discount_percentage -}}
                          % Off
                        </span>
                      {% elsif item.variant.compare_at_price > item.variant.price %}
                        <span class="item__variant-price">
                          <del>{{ item.variant.compare_at_price | money_without_trailing_zeros }}</del>
                          <ins>{{ item.variant.price | money_with_currency | remove: '.00' }}</ins>
                          {% assign discount = item.variant.compare_at_price | minus: item.variant.price %}
                          {% assign discount_percentage = discount | times: 100.0 | divided_by: item.variant.compare_at_price
                          %}
                          {% assign discount_percentage = discount_percentage | round %}
                          /
                          {{ discount_percentage -}}
                          % Off
                        </span>
                      {% elsif item.variant.title != 'Default Title' %}
                        <span class="item__variant-price">
                          {{- item.variant.title }} / {{ item.variant.price | money_with_currency | remove: '.00' -}}
                        </span>
                      {% else %}
                        <span class="item__variant-price">
                          {{ item.variant.price | money_with_currency | remove: '.00' -}}
                        </span>
                      {% endif %}
                    </p>
                  </a>

                  <a
                    href="{{ item.url_to_remove }}"
                    class="item__remove"
                    data-variant-id="{{ item.variant.id }}">Remove Item</a>
                </div>
              </div>
              <div class="item__quantity item__quantity--cart-page">
                <div class="cart__quantity">
                  <button type="button" class="quantity__decrement">-</button>
                  <input
                    class="cart__quantity-input"
                    type="number"
                    min="0"
                    name="quantity"
                    value="{{ item.quantity }}">
                  <button type="button" class="quantity__increment">+</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="drawer-cart__footer drawer-cart__footer--cart-page">
          <div class="wrapper wrapper--sm">
            <div class="drawer-cart__subtotal drawer-cart__subtotal--cart-page">
              <div class="all-caps subtotal__top">
                <p class="subtotal__title">Subtotal</p>
                <p class="subtotal__total" id="total-price">{{ cart.total_price | money_with_currency }}</p>
              </div>
              <p class="subtotal__payment-plan">
                or 4 interest-free payments of {% assign divided_price = cart.total_price | divided_by: 4 %}
                {{ divided_price | money }} with
                <span class="is--emphasized">Sezzle</span>
              </p>
              <p class="subtotal__shipping">Shipping and Taxes Calculated at Checkout</p>
            </div>
            <button
              class="all-caps btn btn--secondary drawer-cart__submit drawer-cart__submit--cart-page"
              type="submit"
              name="checkout">
              Checkout
            </button>
          </div>
        </div>
      </div>
    {% endform %}
  {% endif %}
</main>