<main class="wrapper wrapper--md our-founder-main">
  <section class="our-founder-main__row our-founder-main__row--photos">
    <img
      src="{{ 'about_caroline_1-01_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_1-02_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_1-03_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_1-04_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_1-05_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">

  </section>
  <section class="our-founder-main__row our-founder-main__row--text">
    <p class="main-body">The call to create Rewind Skin came at an unconventional time for our founder, two decades into a solid career and a year after the loss of her parents. Her mother was a revered makeup artist and credentialed esthetician with a following of devoted clients who adored her. She moved with unparalleled integrity and elegance, shaping Natasha’s understanding of the world and her perception of beauty. Lessons that intuitively lead to creating Rewind and continue to guide her through every treatment.</p>
  </section>
  <section class="our-founder-main__row our-founder-main__row--photos">
    <img
      src="{{ 'about_caroline_2-01_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_2-02_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_2-03_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_2-04_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
    <img
      src="{{ 'about_caroline_2-05_compressed.jpg' | asset_url }}"
      width="auto"
      height="192"
      loading="eager">
  </section>
  <section class="our-founder-main__row our-founder-main__row--text">
    <p class="main-body">How we feel about ourselves is intrinsically linked to healthy skin. The studio is a safe place for our community to indulge and explore the possibilities for their skin, in turn, exploring the possibilities for how they care for and feel about themselves beyond the treatment room.</p>
  </section>
</main>